downloads/
*.ods
games/
*.js
music
osmin*
osquest
os_*
others/
termite/
workspace*
.zdirs
.zsh_history
.zcompdump
.xsession-e*
.xinputrc
.xinitrc
.wallpapers
.viminfo
.thumbnails
.themes
.terminfo
.steampid
.rofi*
.stard*
.steam*
.qmmp
.python_*
.pulse-cookie
.pki
.p2
.oracle_*
.nvidia-se*
.ncmpcpp
.mplayer
.mozilla
.mono
.macromedia
.icons
.local
.java
.gtkrc*
.gksu.*
.eclipse
.eclim
.dbus
.conkyrc
.calibrelib
.compiz
.gimp-*
.dmrc
.cache
.bash_*
My Games
PlayOnLinux*
VirtualBox*
buff*
ЧЕРНЫЙ*
.node*
.lesshst
.keytoggle
.gconf
.aria2
.aptitude
.andrioid
.Xaut*
.Skype
.PlayO*
.Intell*
.Idea*
.ICE*
.andriod
.audaci*
.nv
education
.recently-*
.profile
.wireshark
asdf*
